<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= destroy_user_session_path %>">StreamViewer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="<%= root_path %>">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><%= "Hi #{current_user.name}"%></a></li>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, :method => :get %>
      </li>
    </ul>
  </div>
</nav>
<%= react_component("Routes", props: @hello_world_props, prerender: false) %>