body {
  background: #f5f5f5;
}

.login {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.videoDetails {
  padding: 4px;
}

.publishedAt {
  color: grey;
  text-decoration: none;
}

.title {
  color: black;
  text-decoration: none;
}

a, a label {
    cursor: pointer;
}

.videoThumbnail {
  width: 100% !important;
  height: 160px !important;
}

.topBuffer {
  margin-top: 10px;
}

.chatItem {
  list-style: none;
  padding: 2px;
  margin-top: 2px;
}

.chat {

}

.chat-img img {
  width: 50px;
}

.chat-text {
  color: black;
  font-size: 15px;
  padding: 4px;
}

.chat-details {
  margin-left: 50px !important;
}

.chatForm {
  display: contents !important;
}

.iframe-container {
  overflow: hidden;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   width: 100%;
}

.timeGraph {
  margin-left: -50px;
  overflow-x: auto;
}

.searchBar {
  height: 45px !important;
  display: contents !important;
}

.searchBox input {
  height: 45px !important;
}

.searchBoxButton {
  height: 45px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}